NEXT_PUBLIC_SUPABASE_URL=https://oxoziyolukepddqvrxxn.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im94b3ppeW9sdWtlcGRkcXZyeHhuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI1ODk4NzUsImV4cCI6MjA3ODE2NTg3NX0.uHVBJ26QoDflNDMyx-qdl2tK7xBKdCmDrfXPUNNAsh8